<h1>Sign Up</h1>

<form action="/users/create" class="col-sm-4">
    <p class="form-group">
        Your name:
        <input class="form-control" name="name" autofocus required>
    </p>
    <p class="form-group">
        Email address:
        <input class="form-control" name="email" type="email" required>
    </p>
    
    <p class="form-group">
        Password:
        <input class="form-control" name="password" type="password" required>
    </p>
    
    <p class="form-group">
        Pets:
        <input class="form-control" name="pets" required>
    </p>
    
    <p class="form-group">
        Host:
        <input class="form-control" type="checkbox" name="is_host" >
    </p>
    
    <button class="btn btn-primary">Sign me up!</button>
    
    
</form>