<div class="row">
  <div class="col-sm-12">
    <h3>Add a New Posting</h3>
  </div>
</div>

<form action="/postings/create" class="col-sm-4">

    <p class="form-group">Title: <input autofocus class="form-control" name="title"></p>
    <p class="form-group">Price: <input class="form-control" name="price"></p>
    <p class="form-group">Location: <input autofocus class="form-control" name="location"></p>
    <p class="form-group">Link to Photo: <input class="form-control" name="photo_ul"></p>
    <p class="form-group">Summary:
      <textarea rows="5" class="form-control" name="summary"></textarea>
    </p>

    <button class="btn btn-primary">Add This Posting</button>
    or
    <a href="/">Cancel</a>

</form>
