<div>
    <center>
        <h1>Leave your pet to an amazing host<br>
        ...or become an amazing pet host</h1><br>
        <form action="/petbnb/show" class='col-sm-5'>
            <input class="form-control" type="text" name="search" placeholder="Search postings..." required><br>
            <button class="btn btn-primary">Submit</button>
        </form>
    </center>
</div>


<div class="bg">
    <center>
        <img src="https://hart-legal.com/wp-content/uploads/2017/01/AdobeStock_111623497.jpeg"; class="img-fluid">;
    </center>

</div>
